.navBar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    width: 96%;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.iconProductsList{
    cursor: pointer;
}
.wrapIcons {
    display: flex;
}

@media (min-width: 700px) {
    .navBar {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 900px;
        top: -35px;
        left: -20px;
        margin: 50px;
    }

    .iconProductsList {
        position: absolute;
        width: 37px;
        height: 34px;
        top: 285px;
        left: 29px;
        cursor: 'pointer';
    }

    .wrapIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-Top: 400px;
    }

}

@media (width < 701px) {
    .navBar {
        position: relative;
    }

    .wrapIcons {
    }

    .iconProductsList {
        position: relative;
        width: 37px;
        height: 34px;
        cursor: 'pointer'
    }
}
