.container{
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.wrapLogin{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/image/login.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.login{
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
}

.wrapImage{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}