body {
    background-color: #F1F5F9;
    font-family: 'Poppins', sans-serif;
}
.containerCreate{
    background-color: red;
    width: 1000px;
    height: 1000px;
}

.wrapPhotoUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
}

.photoUser {
    width: 77px;
    height: 77px;
    border: 2px solid var(--preto);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.inputTitle {
    font-size: 16px;
}

.wrapCreateUser {
    padding: 2rem;
}

.wrapForm {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.formSubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 200px;
    max-width: 400px;
}

.title {
    background: #4B6799;
    background: linear-gradient(90deg, rgba(75, 103, 153, 1) 0%, rgba(75, 103, 153, 1) 48%, rgba(125, 172, 255, 1) 100%);
    margin-top: 10px;
    border-radius: 30px;
    color: var(--branco);
    font-size: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.inputUser {
    border: 2px solid #636262;
    padding: 15px;
    border-radius: 25px;
    width: 300px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapContact {
    flex-direction: row;
}

.contactAdd {
    position: absolute;
}

.btnSubmit {
    background: #4168B1;
    background: linear-gradient(0deg, rgba(65, 104, 177, 1) 0%, rgba(125, 172, 255, 1) 100%);
    color: var(--branco);
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btnAdd {
    position: absolute;
    border-radius: 10px;
    border: none;
    right: -40px;
    top: 05px;
    width: 30px;
    height: 30px;
    background: #4168B1;
    background: linear-gradient(0deg, rgba(65, 104, 177, 1) 0%, rgba(125, 172, 255, 1) 100%);
    color: var(--branco);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.wrapBtnCreate{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.btnCancel{
    width: 98px;
    height: 35px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--branco);
    border: none;
    margin: 5px;
}

@media (min-width: 700px) {
    .containerCreate {
        position: relative;
        width: 1500px;
        height: auto;
    }

    .s1 {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: -400px;
        left: 150px;
    }

    .photoUser {
        width: 100px;
        height: 100px;
    }

    .wrapForm{
        position: relative;
        width: 1000px;
        height: auto;
    }

    .formSubmit {
        display: grid;
        position: absolute;
        top: -450px;
        left: 330px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 500px;
    }

    .title {
        grid-column: span 2;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .wrapBtnCreate {
        grid-column: span 2;
        justify-content: flex-end;
    }
}