body {
    background-color: #F1F5F9;
    font-family: 'Poppins', sans-serif;
}

#containerInfoListProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
    width: 400px;
    height: auto;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.headerTitle {
    position: relative;
    top: 30px;
    right: 30px;
    width: 283px;
    margin: 20px;
    height: auto;
    background-color: var(--branco);
}

.headerTitle h1 {
    font-size: 20px;
}

.headerTitle p {
    font-size: 12px;
}

#containerList {
    display: flex;
    width: 400px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FFFFFF;
}

.wrapList {
    width: 400px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E9E9E9;
}

.headerList {
    display: flex;
    width: 400px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E9E9E9;
}

.textHeaderList {
    display: flex;
    flex-direction: row;
    background-color: #E9E9E9;
    width: 80px;
    height: auto;
    margin: 10px;
}

.textList {
    font-size: 12px;
    align-self: center;
    justify-content: center;
    color: var(--preto);
    opacity: 0.8;
}

.containerListInfo {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-bottom: 2px solid gray;
}

.textInfoList {
    width: 90px;
    margin: 10px;
    font-size: 14px;
    background-color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(min-width: 1100px) {

    #containerInfoListProducts {
        max-width: 100%;
        width: 1000px;
        height: auto;
        margin-left: 150px;
    }

    .headerTitle {
        width: 683px;
        height: auto;
    }

    #containerList {
        width: 800px;
        height: auto;
    }

    .wrapList {
        width: 800px;
        height: auto;
    }

    .headerList {
        width: 800px;
        height: auto;
    }

    .textHeaderList {
        width: 180px;
        height: auto;
    }

    .textInfoList {
        width: 160px;
    }
}