#menuBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--preto);
    background-color: var(--azul-bebe);
    width: 10%;
}

.buttonMenu {
    width: 120px;
    border: 2px solid var(--preto);
    border-radius: 999px;
    color: var(--preto);
    background-color: var(--branco);
    text-align: center;
    margin: 15px;
    padding: 10px;
}

.buttonMenu :hover {
    cursor: pointer;
}

#s1 {
    width: 100vw;
    height: auto;
    border: 2px solid var(--preto);
    
}
#s1 h1{
    color: var(--preto);
}

#s2 {
    width: 100%;
    height: auto;
}

#s2 h1{
    color: var(--preto);
}