body {
    background-color: #F1F5F9;
    font-family: 'Poppins', sans-serif;
}

#containerInfoListUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
    width: 400px;
    height: auto;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.headerTitle {
    position: relative;
    top: 30px;
    right: 30px;
    width: 283px;
    margin: 20px;
    height: auto;
    background-color: var(--branco);
}

.headerTitle h1 {
    font-size: 20px;
}

.headerTitle p {
    font-size: 12px;
}

.wrapInfoUserList {
    width: 283px;
    height: 107px;
    margin: 30px;
    border-radius: 10px;
    background-color: #F3F3F3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.containerInfoCard {
    position: relative;
    top: 10px;
    left: 10px;
    margin: 10px;
}

.textInfoUsers {
    color: gray;
    opacity: 0.8;
}

.infoClientsNumber {
    font-size: 24px;
}

#containerSearchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96vw;
    height: auto;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#containerList {
    display: flex;
    width: 400px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FFFFFF;
}

.wrapList {
    width: 400px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E9E9E9;
}

.headerList {
    display: flex;
    width: 400px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E9E9E9;
}

.textHeaderList {
    display: flex;
    flex-direction: row;
    background-color: #E9E9E9;
    width: 80px;
    height: auto;
    margin: 10px;
}

.textList {
    font-size: 12px;
    align-self: center;
    justify-content: center;
    color: var(--preto);
    opacity: 0.8;
}

.containerListInfo {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-bottom: 2px solid gray;
}

.textInfoList {
    width: 80px;
    margin: 10px;
    font-size: 14px;
    background-color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userInfo{
    padding: 10px;
}
.btnUserConfg{
    padding: 10px;
    margin: 21px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
